.header {
  grid-area: header;
  background: linear-gradient(135deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--header-height);
}

.logoContainer {
  flex: 0 0 auto;
}

.logo {
  width: 90px;
  height: auto;
  border-radius: 10%;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.titleContainer {
  flex: 1;
  text-align: center;
}

.companyName {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 10px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.companyDescription {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.contactInfo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactIcon {
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  display: inline-block;
  width: 24px; /* Размер иконки */
  height: 24px; /* Размер иконки */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contactIcon:hover {
  transform: scale(1.1);
}

.locationIcon {
  /* Здесь можно добавить background-image позже */
  background-image: url('https://img.icons8.com/?size=100&id=ydvM0BruomZd&format=png&color=000000');
}

.phoneIcon {
  /* Здесь можно добавить background-image позже */
    background-image: url('https://img.icons8.com/?size=100&id=9659&format=png&color=000000');

}

.contactText {
  font-size: 1rem;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

.phoneLink {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.phoneLink:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .logoContainer,
  .titleContainer,
  .contactInfo {
    margin-bottom: 0.5rem;
  }
}